<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/css/place.css">
<head>
</head>
<body id="page2">
<ul>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Dhaka Divison</a>
    <div class="dropdown-content">
      <a href="#">Dhaka</a>
      <a href="#">Narayangonj</a>
      <a href="#">Tangail</a>
      <a href="#">Gazipur</a>
      <a href="#">Gopalganj</a> 
      <a href="#">Manikgonj</a>
      </div>
     </li>
     <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Mymensingh Division</a>
    <div class="dropdown-content">
      <a href="#">Mymensingh</a>
      <a href="#">Jamalpur</a>
      <a href="#">Netrokona</a>
      </div>
     </li>
   <li class="dropdown">  
 <a href="javascript:void(0)" class="dropbtn">Rajshahi Divison</a>
    <div class="dropdown-content">
      <a href="#">Rajshahi</a>
      <a href="#">Naogaon</a>
      <a href="#">Pabna</a>
      <a href="#">Natore</a>
      <a href="#">Chapainababganj</a>
    </div>
    </li>
<li class="dropdown">
 <a href="javascript:void(0)" class="dropbtn">Khulna Divison</a>
    <div class="dropdown-content">
      <a href="#">Khulna</a>
      <a href="#">Bagerhat</a>
      <a href="#">Jessore</a>
      <a href="#">Khustia</a>
    </div>
    </li>
 <li class="dropdown">   
 <a href="javascript:void(0)" class="dropbtn">Sylhet  Divison</a>
    <div class="dropdown-content">
      <a href="#">Sylhet</a>
      <a href="#">Sunamgonj</a>
      <a href="#">Habiganj</a>
    </div>
    </li>
 <li class="dropdown">   
 <a href="javascript:void(0)" class="dropbtn">Rangpur Divison</a>
    <div class="dropdown-content">
      <a href="#">Rangpur</a>
      <a href="#">Lalmonirhat</a>
      <a href="#">Thakurgaon</a>
    </div>
    </li>
  <li class="dropdown">  
  <a href="javascript:void(0)" class="dropbtn">Barisal Divison</a>
    <div class="dropdown-content">
      <a href="#">Barisal</a>
      <a href="#">Patuakhali</a>
      <a href="#">Bhola</a>
    </div>
    </li>
  <li class="dropdown">
 <a href="javascript:void(0)" class="dropbtn">Chittagong Divison</a>
    <div class="dropdown-content">
      <a href="#">Chittagong</a>
      <a href="#">Cox's Bazar</a>
      <a href="#">Feni</a>
      <a href="#">Noakhali</a>
      <a href="#">Rangamati</a>
      <a href="#">Khagrachhari</a>
      <a href="#">Bandarban</a>
    </div>
  </li>
</ul>
</body>
</html>
